<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="LoginMapper">


    <select id="login" resultType="Map" parameterType="Map">
        select count(*) `count` from `user` where `uwx`=#{uwx}
    </select>
    <insert id="add" parameterType="Map">
        insert into `user`(`uid`,`uwx`,`usjh`) values (null,#{uwx},#{usjh})
    </insert>

</mapper>